<form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Войти</p>

    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" formControlName='email'>

    <input type="password" id="password" class="form-control mb-4" placeholder="Пароль" formControlName='password'>

    <div class="d-flex justify-content-around">
        <div>
            <mdb-checkbox [default]="true">Запомнить меня</mdb-checkbox>
        </div>
        <div>
            <a href="">Забыли пароль?</a>
        </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]='form.invalid'>Войти</button>

    <p>
        <a [routerLink]="'/registration'">Регистрация</a>
    </p>

    <p>Войти с помощью:</p>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="github"></mdb-icon>
    </a>

</form>